/// slyder F boton
.slyder-f 
  display: flex
  align-items: center !important
.slyder-f__btn
  width: 50px
  height: 50px
  background-color: $color-acento-botones
  border-radius: 50%
.slyder-f__btn i 
  font-size: 2rem !important
.slyder-f__btn.pe-3
  margin-right: 1rem
  padding-right: 0 !important
.slyder-f__btn.ps-3
  margin-left: 1rem
  padding-left: 0 !important


/// -- Tabs -----
.tabs-a.color-acento-botones 
  .tabs-a__tab__selected
    background-color: $color-acento-botones !important
    &:before
      background-color: $color-acento-botones !important
  .tabs-a__tab 
    background-color: #BEE8DA 
.tabs-a.color-acento-contenido
  .tabs-a__tab__selected
    background-color: $color-acento-contenido !important
    &:before
      background-color: $color-acento-contenido !important
  .tabs-a__tab 
    background-color: #FEA772


///-- tarjetas
.tarjeta--boton
  background-color: #FFF5D3
  cursor: initial
.linea-tiempo-d.color-acento-botones 
  .linea-tiempo-d__item__number, .linea-tiempo-d__item__content__title
    background-color: #BEE8DA
  .linea-tiempo-d__item--selected 
    .linea-tiempo-d__item__content, .linea-tiempo-d__item__content__title
      background-color: #EEF9F6
  .linea-tiempo-d__item__dots:after
    border-left: 5px dotted  #F7C99C
.tarjeta-avatar 
    height: 100%
    position: relative
    padding-top: 75px

///-- cajon

.cajonmorado 
    background-color: #673AB7 !important


// viñeta

.lista-ol--cuadro__vineta
  color: black

//acordeon

.tarjeta--grisos 
  background-color: #DADDDF !important

.tarjeta--grisos.acordion__activo
  background-color: #E8E4FF !important

.tarjeta--purple
  border-bottom: 1px solid  #F8F5FF !important
  border-radius: 0 !important

.tarjeta--purple.acordion_activo
  background-color: #F8F5FF !important
  border-radius: 25px !important

.acordion__activo .acordion__accion__btn--b
  background-color: #F8F5FF
  border: 1px solid #12263F
  i
    color: black

.fondoespecial
  background-image: url("../assets/curso/temas/tema2/fondo1.svg") !important

.fondoespecial2
  background-image: url("../assets/curso/temas/tema2/fondo2.png") !important

.fondoespecial3
  background-image: url("../assets/curso/temas/tema2/fondo3.png") !important

.fondoespecial4
  background-image: url("../assets/curso/temas/tema2/fondo4.png") !important



.bgamarilloclaro
  background-color: #FFF5D3 !important

.bgamarilloclaro2
  background-color: #F4EDD4 !important

.bgmoradoclaro
  background-color: #F3EEFF !important

.texto1
  font-size: xx-small !important

.texto2
  font-size: 12

// Acordion A

.tarjeta.acordeonA
  background-color: #DADDDF !important
  border-radius: 25px !important

.acordion__accion__btn--a
  background-color: #EEAC3A !important

.acordion__activo
  background-color: #F8F5FF !important
  border-radius: 25px !important

.acordion__accion__btn--b
  border: 1px solid #12263F
  
// slyder cuadrado

.slyder__btn 
    background-color: #FFD54F

.estilo1
  border: 2px solid #F7C99C
  border-radius: 25px

.estilo2
  border: 20px solid #F7C99C

//viñetas

// sangría viñeta
.fa-ol
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem





/* 2026 */
.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute    
    top: 20%
    right: 85%
  &-2
    animation: float1 3.1s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 84%
  &-3
    animation: rotate1 7.5s ease-in-out infinite alternate
    position: absolute
    top: 11%
    right: 29%
    width: 70px
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
@keyframes rotate1
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
@media (min-width: 576px) 
  .banner-principal__img 
    padding-top: 0rem !important

.banner-interno__fondo    
  background-image: url("../assets/curso/temas/mini-portada.png") !important
figcaption
  font-weight: normal
.fa-ul
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem
.lista-ul--color.color-primario i 
  color: $color-primario !important
.lista-ul--color.color-secundario i 
  color: $color-secundario !important
.lista-ul--color.color-acento-botones i 
  color: $color-acento-botones !important
.lista-ul--color.color-acento-contenido i 
  color: $color-acento-contenido !important

.subt
  width: fit-content
  position: relative
  img
    width: 50px
    z-index: 99
  h3
    z-index: 999
    padding: 0px 50px 0px 15px
  &::before   
    content: ""
    position: absolute
    top: 5px
    height: 80%
    width: 100%
    border-radius: 500px
    background-color: #FEF4EB
.subt2
  background-color: #FADE93
  border-radius: 500px
  width: fit-content
  padding: 7px 20px
  i
    font-size: 10px
    top: 8px !important
.bgi-1
  background-image: url(../assets/curso/temas/tema1/bg1.png)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bgi-2
  background-image: url(../assets/curso/temas/tema1/bg2.png)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bgi-3
  background-image: url(../assets/curso/temas/tema2/bg1.png)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bgi-4
  background-image: url(../assets/curso/temas/tema1/bg3.png)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bgi-5
  background-image: url(../assets/curso/temas/tema2/bg2.png)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.bgi-6
  background-image: url(../assets/curso/temas/tema2/bg3.png)
  background-size: cover
  background-position: center
  background-repeat: no-repeat
.ul-circle i
  font-size: 8px
  top: 9px !important
.cajon.color-primario
  background-color: #FEF4EB !important

.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: $color-acento-botones
  border-color: $color-acento-botones
  opacity: 1
.slyder-a__bullets__item
  background-color: $color-acento-botones
  border-color: $color-acento-botones
  opacity: 0.6
  &--active 
    background-color: $color-acento-botones
    border-color: $color-acento-botones
    opacity: 1
.acordion 
  .acordion__accion__btn--a, .acordion__accion__btn--b
    background-color: $color-acento-botones
    border-color: $color-acento-botones
  .acordion__activo
    background-image: url(../assets/curso/temas/tema1/bg3.png)
.linea-tiempo-c__header__btn, .linea-tiempo-c__header__btn--left, .linea-tiempo-c__header__btn--right, .pasos-b__header__btn--left, .pasos-b__header__btn--right
  background-color: $color-acento-botones
  border-color: $color-acento-botones
.slyder-a__bullets__item
  @media (max-width: $bp-max-md)
    margin: 0 3px
  @media (max-width: $bp-max-xs)  
    margin: 0 2px
    width: 7px
    height: 7px

.bg1
  background-color: #BEE8DA
.bg2
  background-color: #FCE9D7
.bg3
  background-color: #FEF9E9
.bg4
  background-color: #FEF4EB
.bg5
  background-color: #FADE93
.bg6
  background-color: #5EC6A3
.bg7
  background-color: #F7C99C
.bg8
  background-color: #BEE8DA
.w-80x
  width: 80px !important